<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>UH Groupings Home</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/colors.css">
    <!-- load google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i,900,900i" rel="stylesheet">

    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap.bundle.min.js"></script>

</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light border-bottom pt-2 pb-2">
    <div class="container">
        <a class="navbar-brand align-items-center" href="home-administrator.html">
            <img class="img-fluid" src="images/uh-groupings-logo.png" srcset="images/uh-groupings-logo.png 1x, images/uh-groupings-logo-2x.png 2x" alt="UH Groupings">
            <span class="sr-only">UH Groupings</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="admin.html">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="memberships.html"> Memberships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="groupings.html">Groupings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="info.html">Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="feedback.html">Feedback</a>
                </li>
                <li class="nav-item">
                    <form action="home-public.html" method="post"><input type="hidden" name="_csrf" value="0e4fe4e7-7b20-4e45-8366-84baeb50953c">
                        <button class="btn btn-outline-secondary" type="submit">Logout (<span id="name">username</span>) <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--  Content container -->
<div class="seafoam-bg pt-5">
    <div class="container">
        <h1 class="text-center text-md-left">Administration</h1>
        <p class="lead text-center text-md-left">Search for and manage any grouping on behalf of its owner. Manage the list of UH Groupings administrators.</p>

        <ul class="nav nav-tabs flex-sm-row flex-column" role="tablist">
            <li class="nav-item" role="presentation">
                <a href="#groupings" class="nav-link active" data-toggle="tab" role="tab">
                    Manage Groupings
                </a>
            </li>
            <li class="nav-item" role="presentation" ng-click="displayAdmins()">
                <a href="#admins" class="nav-link" data-toggle="tab" role="tab">
                    Manage Admins
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row m-auto pt-4 pb-4">
        <div class="col-lg-9 col-md-8 col-12">
            <h2 class="card-title mt-md-1 mt-0 mb-1">aaronvil-test</h2>
            <p class="font-italic">hawaii.edu:custom:test:aaronvil:aaronvil-test</p>
            <a class="text-primary small" href="admin.html"><i class="fa fa-arrow-left mr-2" aria-hidden="true"></i> Return to Groupings</a>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
            <button class="btn btn-sm btn-secondary" type="submit"><i class="fa fa-refresh mr-2" aria-hidden="true"></i> Refresh</button>
            <button class="btn btn-sm btn-outline-secondary" type="submit"><i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i> Edit</button>
        </div>
    </div>

    <div class="card col-12 mb-5">
        <div class="row">
            <div class="col-md-1 col-12 teal-tint-bg pt-3 pb-3" id="pills-column">
                <ul class="nav nav-pills flex-md-column flex-row justify-content-md-start justify-content-center"
                    id="group-pills">
                    <li class="nav-item mx-auto" data-toggle="tooltip" data-placement="right"
                        title="List all members (Basis + Include - Exclude members)">
                        <a data-toggle="tab" href="#all" class="nav-link rounded-circle active"
                           aria-label="All Members" ng-click="resetFields()">
                            <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-auto pt-2" data-toggle="tooltip" data-placement="right"
                        title="List only Basis members">
                        <a data-toggle="tab" href="#basis" class="nav-link"
                           aria-label="Basis Members" ng-click="resetFields()">
                            <i class="fa fa-id-card-o fa-fw" aria-hidden="true"></i>

                        </a>
                    </li>
                    <li class="nav-item mx-auto pt-2" data-toggle="tooltip" data-placement="right"
                        title="Manage the Include members list">
                        <a data-toggle="tab" href="#include" class="nav-link"
                           aria-label="Include Members" ng-click="resetFields()">
                            <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-auto pt-2" data-toggle="tooltip" data-placement="right"
                        title="Manage the Exclude members list">
                        <a data-toggle="tab" href="#exclude" class="nav-link"
                           aria-label="Exclude Members" ng-click="resetFields()">
                            <i class="fa fa-minus fa-fw" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-auto pt-2" data-toggle="tooltip" data-placement="right"
                        title="Manage this grouping&#39;s owners">
                        <a data-toggle="tab" href="#owners" class="nav-link"
                           aria-label="Grouping Owners" ng-click="resetFields()">
                            <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-auto pt-2" data-toggle="tooltip" data-placement="right"
                        title="Manage this grouping&#39;s preferences">
                        <a data-toggle="tab" href="#preferences" class="nav-link"
                           aria-label="Preferences" ng-click="resetFields()">
                            <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tab-content col-md-11 col-12" id="pill-content">
                <h2 class="font-weight-bold text-dark pt-4 pb-4">All Members <span class="text-dark">(11)</span></h2>
                <div id="all" class="tab-pane fade show active">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" aria-live="assertive">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        Grouping Name
                                        <i class="fa sort-icon"></i>
                                    </th>
                                    <th cope="col">
                                        UH Number
                                    </th>
                                    <th scope="col">
                                        UH Username
                                        <i class="fa sort-icon"></i>
                                    </th>
                                    <th scope="col">
                                        Where Listed?
                                        <i class="fa sort-icon"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Aaron Daniel Jameson</td>
                                    <td>
                                       12345678
                                    </td>
                                    <td>aabbcc</td>
                                    <td>
                                        Basis
                                    </td>
                                </tr>
                                <tr>
                                    <td>Clinton John</td>
                                    <td>
                                        12345678
                                    </td>
                                    <td>aabbccdd</td>
                                    <td>
                                        Include
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Content container. -->

<footer class="footer black-bg pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5 text-center ">
                <img class="img-fluid mb-4" src="images/uh-logo-system.png" srcset="images/uh-logo-system.png 1x, images/uh-logo-system-2x.png 2x"  alt="UH System logo">
            </div>
            <div class="col-md-8 col-sm-7">
                <p>The University of Hawai&#699;i is an <a href="https://www.hawaii.edu/offices/eeo/policies/?policy=antidisc">equal opportunity/affirmative action institution</a>.</p>
                <p>Use of this site implies consent with our <a href="https://www.hawaii.edu/policy/docs/temp/ep2.210.pdf" title="UH Usage Policy">Usage Policy</a>.</p>
            </div>
        </div>
    </div>
</footer>


</body></html>